* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style-type: none;
  font-family: Montserrat;
}

body {
  background: #162E40;
}

.head {
  margin: 10px auto;
  width: 83%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.head .headerLeft {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.head .logo {
  width: 20%;
  color: #E8DADA;
  font-size: 34px;
}

.head .links li {
  display: inline-block;
  margin-left: 30px;
}

.head .links li a {
  display: block;
  color: #ffffff;
  font-size: 20px;
}

.head .links li:first-child {
  margin-left: 60px;
}

.head .headerBTNS {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.head .headerBTNS a {
  color: #ffffff;
  font-size: 20px;
}

.head .headerBTNS a:not(:last-child) {
  color: #ffffff;
  font-size: 20px;
  padding: 0px 30px;
}

.head .headerBTNS a:last-child {
  padding-left: 30px;
}

.headerRigth {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.buy_sell_car {
  width: 83%;
  margin: 100px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  color: white;
}

.buy_sell_car .buy_sell {
  height: 100%;
  width: 40%;
  display: block;
  text-align: center;
}

.buy_sell_car .buy_sell h1 {
  font-size: 70px;
}

.buy_sell_car .buy_sell p {
  text-align: left;
  margin: 20px 0 0 50px;
  letter-spacing: 2px;
  font-size: 16px;
}

.buy_sell_car .buy_sell a {
  color: #162e40;
  font-size: 25px;
}

.buy_sell_car .buy_sell .sell {
  margin-top: 15px;
  border: 1px black solid;
  border-radius: 19px;
  background: white;
  height: 40px;
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.buy_sell_car .buy_sell .buy {
  margin-top: 10px;
  border: 1px black solid;
  border-radius: 19px;
  background: white;
  height: 40px;
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.buy_sell_car .buy_sell .buy_sellBTNS {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.buy_sell_car .mainCar {
  height: 100%;
  width: 60%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.mainWhitecontainer {
  width: 100%;
  height: auto;
  border-radius: 3em 3em 0 0;
  background: white;
}

.threeWay {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  padding-top: 50px;
}

.threeWay .boldTXT {
  font-size: 38px;
}

.threeWay .threContainer {
  margin-top: 50px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  line-height: 20px;
}

.threeWay .threContainer div {
  border: 1px solid #adadad;
  padding: 20px 0 20px 0;
  border-radius: 19px;
  background: #fafafa;
  width: 26%;
}

.threeWay .threContainer p {
  font-size: 14px;
}

.threeWay .threContainer span {
  font-size: 25px;
  font-weight: bold;
  letter-spacing: 1px;
}

.joinElectricRevolutionMain {
  width: 83%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 100px 0 0 100px;
}

.joinElectricRevolutionMain p {
  font-size: 20px;
}

.joinElectricRevolutionMain p span {
  font-size: 36px;
  font-weight: bold;
}

.joinElectricRevolutionMain .chargeCarContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 30px;
}

.joinElectricRevolutionMain .chargeCarContainer p {
  font-size: 16px;
}

.joinElectricRevolutionMain .chargeCarContainer .chargeMap {
  width: 100%;
}

.joinElectricRevolutionMain .chargeCarContainer .chargeMap div {
  width: 400px;
  height: 220px;
  overflow: hidden;
  border-radius: 19px;
}

.joinElectricRevolutionMain .chargeCarContainer .chargeMap div img {
  width: 400px;
}

.joinElectricRevolutionMain .chargeCarContainer .fastCargeINFO {
  width: 100%;
  margin-left: 40px;
}

.joinElectricRevolutionMain .chargeCarContainer .fastCargeINFO div {
  width: 400px;
  height: 220px;
  overflow: hidden;
  border-radius: 19px;
}

.joinElectricRevolutionMain .chargeCarContainer .fastCargeINFO div img {
  width: 400px;
}

footer {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-bottom: 60px;
}

footer p {
  margin: 30px 0 30px 0;
  width: 90%;
  color: #000000;
  font-size: 14px;
}

footer .contacts {
  width: 90%;
}

footer a {
  margin: 0 100px 100px 0;
  color: #162E40;
  font-size: 18px;
  text-decoration: underline;
}
/*# sourceMappingURL=main.css.map */